:root {
  // Simple fonts
  --font-family-sans: "Poppins", "Righteous", "Space Grotesk", "Lato",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-dancing: "Dancing Script", cursive;
  --font-lexend: "Lexend", sans-serif;
  --font-righteous: "Righteous";
  --font-spacegrotesk: "Space Grotesk";
  --font-lato: "Lato";
  --font-bangers: "Bangers";
  --font-monofett: "Monofett";
  --font-paytone: "Paytone One";
  --font-rampart: "Rampart One";
  --font-novamono: "Nova Mono";
  --font-rammetto: "Rammetto";
  --font-inter: "Inter";
  --font-bebasneue: "Bebas Neue";

  // Classical line heights
  --line-height-headers: 2;
  --line-height-body: 1.5;

  // Responsive font sizes system
  --font-size-xsmall: clamp(0.5rem, 2vw, 0.75rem);
  --font-size-small: clamp(0.75rem, 2.5vw, 1rem); /* Small: 0.5rem to 1rem */
  --font-size-medium: clamp(1rem, 4vw, 1.75rem); /* Medium: 1rem to 1.75rem */
  --font-size-large: clamp(1.75rem, 6vw, 2.5rem); /* Large: 1.75rem to 2.5rem */
  --font-size-xlarge: clamp(2.5rem, 8vw, 3.5rem);

  // Responsive spacing system
  --space-xsmall: clamp(0.1rem, 1.5vw, 0.25rem); /* Smallest space */
  --space-small: clamp(0.25rem, 2vw, 0.5rem); /* Small: 0.25rem to 0.5rem */
  --space-medium: clamp(0.5rem, 3.5vw, 1rem); /* Medium: 0.5rem to 1rem */
  --space-large: clamp(1rem, 5vw, 2rem); /* Large: 1rem to 2rem */
  --space-xlarge: clamp(2rem, 7vw, 3rem);

  // Three different text colors
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body: hsl(37, 18%, 66%);
  --color-text-white: hsl(0, 0%, 100%);
  --color-text-muted: hsl(0, 0%, 100%);
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(0, 6%, 93%);

  // Background colors
  --color-bg: rgb(18, 18, 18);
  --color-bg-w: rgb(235, 235, 235);

  // Application colors
  --color-primary: hsl(350, 67%, 50%);
  --color-primary-rotate: hsl(10, 73%, 54%);
  --color-secondary: rgb(247, 238, 199);
  --color-secondary-rotate: hsl(120, 45%, 56%);
  --color-alert: #f04037;
  --color-confirm: #2ba54a;

  // Border radius
  --border-radius: 0.375rem;
  --border-round: 50%;

  // Border
  --border: solid 2px var(--color-dark);
  --border-light: solid 2px var(--color-light);

  // Shadows
  --shadow-large: 2px 4px 5px hsla(0, 0%, 0%, 0.685);
  --shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);
  --shadow-btn: 0px 0px 5px #fff;
  --shadow-card: 8px 8px 5px hsl(0, 0%, 0%);

  // Text shadow
  --shadow-text: 0 5px 10px #004;
  --shadow-text-light: 1px 1px 1px #d8d8d8;

  // WebKit-related styles for compatibility

  // Adding some common WebKit prefixes for Safari compatibility
  --webkit-transition: -webkit-transition 200ms ease-in-out;
  --webkit-box-shadow: -webkit-box-shadow 0px 4px 6px rgba(0, 0, 0, 0.1);
  --webkit-border-radius: -webkit-border-radius 5px;
}
